@use "sass:map";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import './custom-bootstrap.scss';

.col-control {
    width: 150px;
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    padding: map.get($spacers, 1) map.get($spacers, 2);
    margin-right: map.get($spacers, 3);
    margin-bottom: map.get($spacers, 2);
    background-color: white;
    cursor: pointer !important;

    &.active {
      border-left: map.get($border-widths, 5) solid $primary;
    }

    &.un-hidable {
      border-left: map.get($border-widths, 5) solid $warning;
    }

    &.is-dragging {
      outline: 0;
      border-color: $primary;
    }
}
